/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/05/2014, 22:02:18
    Author     : njunior
*/

.links-menus {
    ul{

        li{
            list-style-type: disc;
            display: inline-block;
            padding: 10px 20px;            
            font-size: 20px;

            &:first-child{
                list-style-type: none;                
            }

            a{
                display: list-item;
                padding-left: 20px;
            }

        }/* FIM LI */
    }/* FIM UL */
}/* FIM LINKS-MENU */

.logo{
    text-align: center;    
}
.logo .imgLogo{
    width: 100px;
    height: 100px;
    position: fixed;
    z-index: 10;
}

*{
    border:1px solid blue;
}

.l-container img{
    //position: relative;
    /*float: left;*/
    background: url('../../img/360graus_headerbottom.jpg') no-repeat scroll 0% 0%;
    background-size: cover;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 50%;
    height: 50%;
    border: 10px solid red;
    position: fixed !important;
    display: inline-block;
}

.tittle-header-bottom{
    top: 20px;
    left: 20px;
    position: relative;
}